<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>Portfolio | Script House Team </title>

    <!-- Favicon -->
    <link rel="icon" href="http://127.0.0.1:2000/img/core-img/favicon.ico">

    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="http://127.0.0.1:2000/style.css">
    <link rel="stylesheet" href="http://127.0.0.1:2000/substyle.css">

</head>

<body style="overflow-x: hidden;">
    
    <!-- ##### Header Area Start ##### -->
    <% include partials/header %>
    <!-- ##### Header Area End ##### -->

    <!-- ##### Breadcrumb Area Start ##### -->
    <div class="breadcrumb-area">
        <!-- Top Breadcrumb Area -->
        <div class="top-breadcrumb-area bg-img bg-overlay d-flex align-items-center justify-content-center" style="background-image: url(http://127.0.0.1:2000/img/bg-img/2.jpg);">
            <h2 id="text-style-hash"><span>#p</span>ortfolio</h2>
            
        </div>

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html"><i class="fa fa-home"></i> Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Portfolio</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Breadcrumb Area End ##### -->

    <!-- ##### Portfolio Area Start ##### -->
    <div class="inner">
        <header>
            <h1>This is Script House, a free, fully responsive sites made with love</h1>
            <p>Everythings looks great with Script House team, the best front-end developers and expersts with UX,
            making a lot of a FREE designs just to let you choose the right template, and our back-end team can do the magic for you, just tell us your ideas.</p>
        </header>
            <section class="tiles">
                <article class="style1">
                    <span class="image">
                        <img src="http://127.0.0.1:2000/img/bg-img/50.jpg" alt="">
                    </span>
                    <a href="http://127.0.0.1:2000/portfolio/project/">
                        <h2>template</h2>
                        <div class="content">
                            <p>This Project Is Made By Script House Front-End Designers, Feel Free To Test It.</p>
                        </div>
                    </a>
                </article>
                <article class="style2">
                    <span class="image">
                        <img src="http://127.0.0.1:2000/img/bg-img/50.jpg" alt="">
                    </span>
                    <a href="http://127.0.0.1:2000/portfolio/project/">
                        <h2>template</h2>
                        <div class="content">
                             <p>This Project Is Made By Script House Front-End Designers, Feel Free To Test It.</p>
                        </div>
                    </a>
                </article>
                <article class="style3">
                    <span class="image">
                        <img src="http://127.0.0.1:2000/img/bg-img/50.jpg" alt="">
                    </span>
                    <a href="http://127.0.0.1:2000/portfolio/project/">
                        <h2>template</h2>
                                        <div class="content">
                            <p>This Project Is Made By Script House Front-End Designers, Feel Free To Test It.</p>
                        </div>
                    </a>
                </article>
                <article class="style4">
                    <span class="image">
                        <img src="http://127.0.0.1:2000/img/bg-img/50.jpg" alt="">
                    </span>
                    <a href="http://127.0.0.1:2000/portfolio/project/">
                        <h2>template</h2>
                        <div class="content">
                            <p>This Project Is Made By Script House Front-End Designers, Feel Free To Test It.</p>
                        </div>
                    </a>
                </article>
                <article class="style5">
                    <span class="image">
                        <img src="http://127.0.0.1:2000/img/bg-img/50.jpg" alt="">
                    </span>
                    <a href="http://127.0.0.1:2000/portfolio/project/">
                        <h2>template</h2>
                        <div class="content">
                            <p>This Project Is Made By Script House Front-End Designers, Feel Free To Test It.</p>
                        </div>
                    </a>
                </article>
                <article class="style6">
                    <span class="image">
                        <img src="http://127.0.0.1:2000/img/bg-img/50.jpg" alt="">
                    </span>
                    <a href="http://127.0.0.1:2000/portfolio/project/">
                        <h2>template</h2>
                        <div class="content">
                            <p>This Project Is Made By Script House Front-End Designers, Feel Free To Test It.</p>
                        </div>
                    </a>
                </article>
                <article class="style2">
                    <span class="image">
                        <img src="http://127.0.0.1:2000/img/bg-img/50.jpg" alt="">
                    </span>
                    <a href="http://127.0.0.1:2000/portfolio/project/">
                        <h2>template</h2>
                        <div class="content">
                            <p>This Project Is Made By Script House Front-End Designers, Feel Free To Test It.</p>
                        </div>
                    </a>
                </article>
                <article class="style3">
                    <span class="image">
                        <img src="http://127.0.0.1:2000/img/bg-img/50.jpg" alt="">
                    </span>
                    <a href="http://127.0.0.1:2000/portfolio/project/">
                        <h2>template</h2>
                        <div class="content">
                            <p>This Project Is Made By Script House Front-End Designers, Feel Free To Test It.</p>
                        </div>
                    </a>
                </article>
                <article class="style1">
                    <span class="image">
                        <img src="http://127.0.0.1:2000/img/bg-img/50.jpg" alt="">
                    </span>
                    <a href="http://127.0.0.1:2000/portfolio/project/">
                        <h2>template</h2>
                        <div class="content">
                            <p>This Project Is Made By Script House Front-End Designers, Feel Free To Test It.</p>
                        </div>
                    </a>
                </article>
                <article class="style5">
                    <span class="image">
                        <img src="http://127.0.0.1:2000/img/bg-img/50.jpg" alt="">
                    </span>
                    <a href="http://127.0.0.1:2000/portfolio/project/">
                        <h2>template</h2>
                        <div class="content">
                            <p>This Project Is Made By Script House Front-End Designers, Feel Free To Test It.</p>
                        </div>
                    </a>
                </article>
                <article class="style6">
                    <span class="image">
                        <img src="http://127.0.0.1:2000/img/bg-img/50.jpg" alt="">
                    </span>
                    <a href="http://127.0.0.1:2000/portfolio/project/">
                        <h2>template</h2>
                        <div class="content">
                            <p>This Project Is Made By Script House Front-End Designers, Feel Free To Test It.</p>
                        </div>
                    </a>
                </article>
                <article class="style4">
                    <span class="image">
                        <img src="http://127.0.0.1:2000/img/bg-img/50.jpg" alt="">
                    </span>
                    <a href="http://127.0.0.1:2000/portfolio/project/">
                        <h2>template</h2>
                        <div class="content">
                            <p>This Project Is Made By Script House Front-End Designers, Feel Free To Test It.</p>
                        </div>
                    </a>
                </article>
            </section>
        </div>
    
    <!-- ##### Portfolio Area End ##### -->

    <!-- ##### Footer Area Start ##### -->
    <% include partials/footer %>
    <!-- ##### Footer Area End ##### -->

    <!-- ##### All Javascript Files ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="http://127.0.0.1:2000/js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="http://127.0.0.1:2000/js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="http://127.0.0.1:2000/js/bootstrap/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="http://127.0.0.1:2000/js/plugins/plugins.js"></script>
    <!-- Active js -->
    <script src="http://127.0.0.1:2000/js/active.js"></script>

     <!--  -->
    <script src="http://127.0.0.1:2000/js/socket.io.js"></script>
    <script src="http://127.0.0.1:2000/js/senddata.js"></script>
    
</body>

</html>
