<!-- ##### Header Area Start ##### -->
        <!-- Preloader -->
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-circle"></div>
            <div class="preloader-img">
                <img src="http://127.0.0.1:2000/img/core-img/script.png" alt="">
            </div>
        </div>
    
        <header class="header-area">
    
            <!-- ***** Top Header Area ***** -->
            
    
            <!-- ***** Navbar Area ***** -->
            <div class="alazea-main-menu">
                <div class="classy-nav-container breakpoint-off">
                    <div class="container">
                        <!-- Menu -->
                        <nav class="classy-navbar justify-content-between" id="alazeaNav">
    
                            <!-- Nav Brand -->
                            <a href="http://127.0.0.1:2000/" class="nav-brand" style="color:white;">Script House</a>
    
                            <!-- Navbar Toggler -->
                            <div class="classy-navbar-toggler">
                                <span class="navbarToggler"><span></span><span></span><span></span></span>
                            </div>
    
                            <!-- Menu -->
                            <div class="classy-menu">
    
                                <!-- Close Button -->
                                <div class="classycloseIcon">
                                    <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                                </div>
    
                                <!-- Navbar Start -->
                                <div class="classynav">
                                    <ul>
                                        <li><a href="http://127.0.0.1:2000/">Home</a></li>
                                        <li><a href="http://127.0.0.1:2000/about">About</a></li>
    
                                        <li><a href="http://127.0.0.1:2000/nubia">Nubia Design</a></li>
                                        <li><a href="http://127.0.0.1:2000/portfolio">Portfolio</a></li>
                                        <li><a href="http://127.0.0.1:2000/contact">Contact</a></li>
                                    </ul>
    
                                    <!-- Search Icon -->
                                    <div id="searchIcon">
                                        <i class="fa fa-search" aria-hidden="true"></i>
                                    </div>
    
                                </div>
                                <!-- Navbar End -->
                            </div>
                        </nav>
    
                        <!-- Search Form -->
                        <div class="search-form">
                            <form action="#" method="get">
                                <input type="search" name="search" id="search" placeholder="Type keywords &amp; press enter...">
                                <button type="submit" class="d-none"></button>
                            </form>
                            <!-- Close Icon -->
                            <div class="closeIcon"><i class="fa fa-times" aria-hidden="true"></i></div>
                        </div>
                    </div>
                </div>
            </div>
        </header>